:root {
  --primary-font: "Merriweather", serif;
  --secondary-font: "Zilla Slab", serif;
  --primary-color: #272142;
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
h1 {
  color: white;
  font-family: var(--primary-font);
  font-weight: bolder;
  font-size: 48px;
}
h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 18px;
  text-align: center;
}
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
  font-weight: 400px;
}
h4 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600px;
}
.hero p {
  color: white;
  font-family: var(--secondary-font);
  font-weight: 300px;
  font-size: 18px;
}
.hero {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-image {
  object-fit: cover;
  object-position: center;
  height: 500px;
  width: 100%;
}

.container-hero {
  position: relative;
  text-align: center;
  color: white;
}

.soup-image,
.mushroom-image,
.carrots-image,
.tacos-image,
.cookies-image,
.pancakes-image {
  height: 350px;
  width: 405px;
  margin: auto;
  display: block;
  border-radius: 8px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}
.icon-green {
  color: var(--primary-color);
  background: white;
  padding: 14px 15px;
  border-radius: 50%;
  font-size: 18px;
}
.alicia-image {
  height: 400px;
  margin: auto;
  display: block;
  border-radius: 8px;
  position: relative;
}
.about-info-section {
  margin: auto;
  display: block;
  position: relative;
  margin-top: 100px;
}
.about-info h1,
.about-info p {
  color: var(--primary-color);
  margin-right: 100px;
  text-align: center;
}
.recipe-about {
  text-align: center;
  color: var(--primary-color);
  font-weight: 400;
  text-decoration: underline 2px var(--primary-color);
}
.recipes-header {
  text-align: center;
  color: var(--primary-color);
  font-size: 48px;
}
.recipe-names {
  text-align: center;
  color: var(--primary-color);
  font-size: 34px;
}
.appetizer-header {
  font-weight: 400;
  text-decoration: underline 2px var(--primary-color);
  font-size: 40px;
}
.soup-image-about,
.tacos-image-about,
.cookies-image-about {
  height: 295px;
  width: 305px;
  margin: auto;
  display: block;
  border-radius: 8px;
}
#soup-image-recipe,
#mushroom-image-recipe,
#carrots-image-recipe,
#tacos-image-recipe,
#cookies-image-recipe,
#pancakes-image-recipe {
  height: 525px;
  width: 608px;
  margin: auto;
  display: block;
  border-radius: 8px;
}
.logo-name {
  max-height: 40px;
  font-size: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    125.8deg,
    rgb(240, 228, 247) 30.1%,
    rgb(194, 199, 229) 100.2%
  );
}
.footer-navbar {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    125.8deg,
    rgb(239, 224, 249) 30.1%,
    rgb(184, 190, 231) 100.2%
  );
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 40px 0;
}
nav a {
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
.icon-green:hover {
  color: var(--primary-color);
  opacity: 70%;
}
nav li a.active {
  font-weight: 900;
}
@media (max-width: 768px) {
  .header-image {
    display: flex;
    height: 300px;
  }
  h1,
  .recipes-header {
    font-size: 24px;
  }
  p,
  h2,
  icons,
  .recipe-names {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
    text-decoration: underline;
  }
  .soup-image,
  .mushroom-image,
  .carrots-image,
  .tacos-image,
  .cookies-image,
  .pancakes-image,
  .soup-image-about,
  .tacos-image-about,
  .cookies-image-about,
  #soup-image-recipe,
  #mushroom-image-recipe,
  #carrots-image-recipe,
  #tacos-image-recipe,
  #cookies-image-recipe,
  #pancakes-image-recipe {
    height: 175px;
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 4px;
  }
  .about-info-section {
    margin-top: 75px;
  }
  .alicia-image {
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 4px;
    position: relative;
  }
  .about-info h1,
  .about-info p {
    margin-right: 0px;
    color: var(--primary-color);
  }
  .recipe-about {
    font-size: 18px;
    color: var(--primary-color);
  }
  .appetizer-header {
    font-size: 20px;
    color: var(--primary-color);
  }
  nav a {
    font-size: 12px;
    color: var(--primary-color);
  }
  .logo-name {
    font-size: 16px;
  }
  .icon-green {
    padding: 10px 11px;
    font-size: 12px;
  }
}
