:root {
  --primary-font: "Merriweather", serif;
  --secondary-font: "Zilla Slab", serif;
}

h1 {
  color: white;
  font-family: var(--primary-font);
  font-weight: bolder;
  font-size: 48px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  text-align: center;
  font-weight: 400px;
}
h4 {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600px;
}
.hero p {
  color: white;
  font-family: var(--secondary-font);
  font-weight: 300px;
  font-size: 18px;
}
.hero {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-image {
  height: 485px;
  top: 135px;
  width: 100%;
}

.container {
  width: 100%;
}

.container-hero {
  position: relative;
  text-align: center;
  color: white;
}

.container-navbar {
  width: 100%;
}

.bg-light {
  background: #f9f7fe;
}

.soup-image,
.mushroom-image,
.carrots-image,
.tacos-image,
.cookies-image,
.pancakes-image {
  height: 350px;
  width: 405px;
  margin: auto;
  display: block;
  border-radius: 8px;
}

.icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
  font-size: 18px;
}
.icon-green {
  color: #272142;
}
.alicia-image {
  height: 400px;
  margin: auto;
  display: block;
  border-radius: 8px;
  position: relative;
}
.about-info-section {
  margin: auto;
  display: block;
  position: relative;
  margin-top: 100px;
}
.about-info h1,
.about-info p {
  color: black;
  margin-right: 100px;
  text-align: center;
}
.recipe-about {
  text-align: center;
  color: black;
  font-weight: 400;
  text-decoration: underline 2px black;
}
.recipes-header {
  text-align: center;
  color: black;
  font-size: 48px;
}
.recipe-names {
  text-align: center;
  color: black;
  font-size: 34px;
}
.appetizer-header {
  font-weight: 400;
  text-decoration: underline 2px black;
  font-size: 40px;
}
.soup-image-about,
.tacos-image-about,
.cookies-image-about {
  height: 295px;
  width: 305px;
  margin: auto;
  display: block;
  border-radius: 8px;
}
#soup-image-recipe,
#mushroom-image-recipe,
#carrots-image-recipe,
#tacos-image-recipe,
#cookies-image-recipe,
#pancakes-image-recipe {
  height: 525px;
  width: 608px;
  margin: auto;
  display: block;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .header-image {
    display: flex;
  }
  h1,
  .recipes-header {
    font-size: 24px;
  }
  p,
  h2,
  icons,
  .recipe-names {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
    text-decoration: underline;
  }
  .soup-image,
  .mushroom-image,
  .carrots-image,
  .tacos-image,
  .cookies-image,
  .pancakes-image,
  .soup-image-about,
  .tacos-image-about,
  .cookies-image-about,
  #soup-image-recipe,
  #mushroom-image-recipe,
  #carrots-image-recipe,
  #tacos-image-recipe,
  #cookies-image-recipe,
  #pancakes-image-recipe {
    height: 175px;
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 4px;
  }
  .about-info-section {
    margin-top: 75px;
  }
  .alicia-image {
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 4px;
    position: relative;
  }
  .recipe-about {
    font-size: 18px;
  }
  .appetizer-header {
    font-size: 20px;
  }
}
